/* Navigation Styles */
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 50;
}

.nav-container {
    display: flex;
    margin: 0 auto;
    padding: 0 16px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-left svg {
    height: 24px;
    width: 24px;
}

.nav-button {
    margin-left: 16px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}
.nav-button:hover {
    font-weight: 500;
    text-decoration: underline;
}

.companyName {
    font-size: 20px;
    color: rgba(237, 8, 8, 0.867);
    font-weight: bold;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.login-button {
    background-color: rgba(237, 8, 8, 0.867);
    color: white;
    padding: 8px 16px;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
}

.signup-button {
    background-color: #f3f3f3;
    color: black;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
}
